<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>SignUp</title>
</head>

<body>
    <%- include('./partials/nav')%>
        <h1>Hey this is signup page</h1>


        <div id="container">
            <%- include('./partials/signinForm') %>
        </div>

        <%- include('./partials/script') %>
</body>

</html>